textarea {resize: none}

* {box-sizing: border-box}

body {
	font-family: Roboto;
	margin: 0;
	height: 100vh;
	background: #323232;
}

a,
a:hover,
a:focus {text-decoration: none}

#pageContent {
	padding: 10px;
}

#drawerBtn,  .mdc-menu-anchor {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#topAppBar {font-size: 16px; background-color: firebrick;}


.material-icons-dark {color: rgba(0, 0, 0, 0.54) !important}

.codeadmin-logo {font-family: "Press Start 2P"}


.mdc-list-item--activated {
	background-color: #b22222 !important;
}


.mdc-list-item--activated .mdc-list-item__graphic, .mdc-list-item--activated .mdc-list-item__text {
	color: white !important;
}

.mdc-snackbar{
	background-color: #fafafa !important;
}

.mdc-snackbar__text{
	color: #323232 !important;
}

/* ############ PROFILE ADMIN ########## */

.idUser{
	background-color: firebrick;
	margin-top: 10px;
	border-radius: 5px;
	padding: 10px;
}

.profileImage{
	width: 52px;
	height: 52px;
	border-radius: 360px;
	float: left;
	margin-right: 15px;
}

.profileName{
	color: #fafafa;
	font-size: 12px;
}


/*########## LOGIN.HTML ############*/

.loginForm{
	background-color: #fafafa;
	width: 400px;
	height: 300px;;
	border-radius: 10px;
	padding: 10px;
	box-shadow:0 15px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	
}

.loginForm h1{
	font-family: 'Press Start 2P';
	color: firebrick;
	font-size: 20px;
}

.loginForm button, #sendEmail{
	margin-top: 20px;
	width: 250px;
	height: 40px;
	
	background-color: firebrick !important;
}

.inputLogin{
	margin-top: 10px;
	width: 350px;
}

.mdc-text-field--outlined.focused{
	color: firebrick !important;
}


/*############ SUGGESTIONS HTML ######*/

body{
	height: 100%;
}

.suggestionsList{
	background-color: #fafafa;
	width: 50%;
	border-radius: 10px;
	box-shadow:0 15px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	position: relative;
	float: left;
	
}

.suggestionEdit{
	display: none;
	background-color: #fafafa;
	width: 47%;
	border-radius: 10px;
	box-shadow:0 15px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	position: relative;
	float: right;
	padding: 10px;
}

.suggestionEdit h2{
	font-weight: bold;	
}

.ulSuggestion{
	max-height: 550px; 
	overflow-y: auto;
}

/*############ SHOWLOG.HTML ##########*/ 

.ulLog{
	max-height: 550px; 
	overflow-y: auto;
}

.logList{
	background-color: #fafafa;
	width: 100%;
	border-radius: 10px;
	box-shadow:0 15px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	position: relative;
	float: left;	
}

@media (max-width: 460px) {
	/* LOGIN */
	.loginForm{
		background-color: #fafafa;
		width: 300px;
		height: 300px;;
		border-radius: 10px;
		padding: 10px;
		box-shadow:0 15px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
		
	}
	
	.inputLogin{
		margin-top: 10px;
		width: 250px;
		caret-color: firebrick !important;
	}

	/* SUGGESTIONS*/
	.suggestionsList{
		background-color: #fafafa;
		max-height: 500px;
		width: 100%;
	}

	.suggestionEdit{
		width: 100%;
		margin-top: 20px;

	}

	.ulSuggestion{
		max-height: 150px; 
		overflow-y: auto;
	}

	/* SHOW LOG*/

	.ulLog{
		max-height: 300px; 
		overflow-y: auto;
	}

	.logList{
		width: 100%;	
	}
  }

/*############ sendEMAIL.HTML ##########*/ 

.borderInput{
	padding: 10px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow:0 15px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.mdc-text-field{
	width: 100%;
	margin-top: 10px;
}
